# APK e binários
*.apk
*.ap_
*.aab
*.dex
*.class

# Gradle
.gradle/
build/
**/build/

# Propriedades locais
local.properties

# Android Studio / IntelliJ
*.iml
.idea/
.navigation/
captures/

# NDK
.cxx/
.externalNativeBuild/

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# OS
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db

# Logs
*.log
